@model dynamic

<h1>Edit Product</h1>
<hr style="width:100%; height:10px" , size="16" , color=green />

<form action="/Admin/EditProduct" method="post">

    <input type="hidden" name="Id" value="@Model.Product.Id" />

    <div class="form-group">
        <label>Product Name</label>
        <input type="text" name="ProductName" class="form-control" value="@Model.Product.ProductName" />
    </div>

    <div class="form-group">
        <label>Product Category</label>
        <select name="CategoryId" class="form-control">
            <option selected value="@ViewBag.SelectedCategory.Id">@ViewBag.SelectedCategory.CategoryName</option>
            @foreach (var item in Model.Category)
            {
                <option value="@item.Id">@item.CategoryName</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label>Product Price</label>
        <input type="number" name="ProductPrice" class="form-control" value="@Model.Product.ProductPrice"/>
    </div>

    <div class="form-group">
        <label>Product Detail</label>
        <input type="text" name="ProductDetail" class="form-control" value="@Model.Product.ProductDetail"/>
    </div>

    <div class="form-group">
        <label>Flavour</label>
        <select name="FlavourId" class="form-control">
            <option selected value="@ViewBag.SelectedFlavour.Id">@ViewBag.SelectedFlavour.FlavourName</option>
            @foreach (var item in Model.Menu)
            {
                <option value="@item.Id">@item.FlavourName</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label>Product Picture</label>
        <input type="text" name="Picture" class="form-control" value="@Model.Product.Picture"/>
    </div>



    <input type="submit" name="submit" value="Save" class="btn btn-success" />

</form>



